* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-image: url(../img/nieve.gif);
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    padding: 20px 40px;
    text-align: center;
    max-width: 400px;
}

.container-h1 {
    /*color: #013220;*/
    font-size: 1rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px #000;
    text-align: center;
}



.formulario {
    /*border: 4px solid red;*/
    padding: 30px;
    border-radius: 15px;
    background-color: burlywood;
}

.formulario label {
    font-size: 1.2rem;
    color: #013220;
}

.container-botones {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
}

.container-tabla {
    border: 1px solid black;
    background-color: burlywood;
    padding: 30px;
    border-radius: 15px;
    border-collapse: separate;
    border-spacing: 10px;
}

table {
    width: 100%;
}

th,
td {
    padding: 10px;
    text-align: left;
}


.rojo {
    border: 2px solid red;
    border-radius: 2px;
    outline: none;
}

.verde {
    border: 2px solid greenyellow;
    border-radius: 2px;
    outline: none;
}

.avisoR {
    font-weight: bold;
    color: red;
    font-size: 1rem;
    margin: 10px 0;
}

.avisoV {
    font-weight: bold;
    color: green;
    font-size: 1rem;
    margin: 10px 0;
}

.calendario-reyes {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.calendario-reyes:hover {
    transform: scale(1.1);
    filter: drop-shadow(2px 4px 5px rgba(0, 0, 0, 0.75));
}

main h1 {
    text-align: center;
    color: white;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #d4af37;
    border-radius: 5px;
    font-size: 1rem;
}

button,
a {
    background-color: #d4af37;
    border: none;
    padding: 10px 20px;
    border-bottom: 4px solid #b8860b;
    font-size: 1rem;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

a {
    text-decoration: none;
}

button:hover,
a:hover {
    background-color: #b8860b;
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


#lista {
    color: #000;
    font-size: 1.5rem;
}

#lista td,
tr,
th {
    text-align: center;
    color: #000;
}

.acciones {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

#h1-lista {
    margin-bottom: 20px;
}

.enlace-lista {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.formulario-principal {
    padding: 30px;
    border-radius: 15px;
    background-color: burlywood;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    width: 650px;
}

.formulario-principal div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario-principal img {
    width: 100px;
    height: 100px;
}

.formulario-principal a {
    margin-top: -10px;
}

.h2 {
    color: #d4af37;
}

.container-inputs {
    display: flex;
    flex-direction: column;
}

.container-carta {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    padding: 20px 40px;
    text-align: center;
    max-width: 400px;
    width: max-content;
}

.container-inputs div {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
    color: #d4af37;
    font-size: 1.5rem;

}


.container-buscar {
    width: 300px;
}

.container-buscar input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

input::placeholder {
    width: 100%;
}

.input-file-input {
    display: none;
}

select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #d4af37;
    border-radius: 5px;
    font-size: 1rem;
}

.input-file-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d4af37;
    border-bottom: 4px solid #b8860b;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 1rem;
}

.input-file-label:hover {
    background-color: #b8860b;
    transform: scale(1.05);
}

.selected {
    font-weight: bold;
    color: white;
    background-color: #4caf50;
    border-bottom: 4px solid #013220;
}

.main-carta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.container-cartaReyes {
    background: burlywood;
    width: 500px;
    max-height: 600px;
    min-height: 600px;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #d0c8b7;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-image: radial-gradient(ellipse, rgba(255, 255, 255, 0.8) 10%, rgba(0, 0, 0, 0.1) 70%);
    border-radius: 8px;
}

.container-cartaReyes p {
    color: black;
    font-family: cursive;
    font-weight: bold;
}

.titulo-carta {
    margin-bottom: 20px;
}

span {
    font-family: cursive;
}

.container-juguetes-general {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.container-juguetes {
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    padding: 30px;
    margin-top: 20px;
    border-radius: 15px;
    background-color: rgba(222, 184, 135, 0.66);
    max-height: 300px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #8B4513 #f3e5ab;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s ease, transform 0.5s ease;
}

.container-juguetes:not(:empty) {
    opacity: 1;
    transform: translateY(0);
}

.container-juguetes::-webkit-scrollbar {
    display: none;
    width: 8px;
}

.container-juguetes::-webkit-scrollbar-track {
    background: #f3e5ab;
    border-radius: 10px;
}

.container-juguetes::-webkit-scrollbar-thumb {
    background-color: #8B4513;
    border-radius: 10px;
    border: 2px solid #f3e5ab;
}

.imagen-juguete {
    width: 50px;
    height: auto;
}

.boton-aniadir {
    width: max-content;
    text-align: center;
    height: auto;
    border-radius: 50px;
    background-color: #4caf50;
    border-bottom: 4px solid #013220;
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin: 0;
}

.boton-aniadir:hover {
    border-radius: 50px;
    background-color: #013220;
    border-bottom: 4px solid #4caf50;
}

.boton-eliminar {
    width: 20px;
    text-align: center;
    height: auto;
    border-radius: 50px;
    background-color: #ff66b2;
    border-bottom: 4px solid #cc0000;
    display: flex;
    justify-content: center;
}

.boton-eliminar:hover {
    border-radius: 50px;
    background-color: #cc0000;
    border-bottom: 4px solid #ff66b2;
}

.juguete-pedido {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    justify-content: space-evenly;
}

.juguete-pedido img {
    width: 50px;
    margin-right: 10px;
}

.juguete-pedido p {
    font-size: 16px;
    font-weight: bold;
}

.lista-juguetes {
    width: max-content;
    table-layout: auto;
    border-collapse: collapse;
}

.lista-juguetes td,
.lista-juguetes th {
    padding: 8px;
    text-align: left;
    white-space: nowrap;
}

.lista-juguetes tr {
    border-bottom: 1px solid #ddd;
    display: flex;
}

.lista-juguetes button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista-juguetes thead tr {
    color: #b8860b;
    font-size: 20px;
    display: flex;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}


.lista-juguetes thead th:first-child {
    color: #b8860b;
    width: 190%;
    align-self: flex-end;
    text-align: end;
    margin-right: 120px;
}

.lista-juguetes thead th:last-child {
    color: #b8860b;
    align-self: flex-end;
    text-align: end;
    margin-right: 20px;
    width: 70%;

}

.container-juguete-ver {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    width: 500px;
}

.acciones-juguete{
    width: 150px;
    display: flex;
    justify-content: center;
}

.juguete-pos {
    margin-top: 100px;
    height: auto;
}

#tablaJuguetes {
    height: auto;
}

.container-usu-orden{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#botonOrdenar{
    height: 20px;
}

.container-usuarios{
    display: flex;
    flex-direction: row;
    gap: 20px; 
    align-items: center;
}

.container-usuarios select{
   width: 150px;
}

.lista-cartas {
    width: max-content;
    table-layout: auto;
    border-collapse: collapse;
}

.container-tabla td{
    text-align: center;
}

.contenedor-botones-carta{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.carta-pos{
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.fila-carta{
    margin-bottom: 20px;
}